.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 80px;
  
}

.navbar-logo img {
  width: auto;
  height: 30px;
  margin-bottom: 32px;
  margin-left: 88px;
  margin-top: 10px;
  cursor: pointer;
}

.navbar-menu {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 51px;
  padding-left: 100px;
  padding-right: 120px;
  font-family: arial;
}

.navbar-menu li a {
  color: #000; 
  text-decoration: none; 
}

.navbar-menu :hover {
  cursor: pointer;
  
}

.navbar-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar-button1 {
  margin-left: 10px;
  padding: 8px 14px;
  background-color: #fff;
  color: #000;
  border-radius: 8px;
  border: 2px solid #000;
}

.navbar-button2 {
  padding: 10px 18px;
  background-color: #000;
  color: #fff;
  border-radius: 8px;
  border: none;
}

.navbar-button1:hover{
  cursor: pointer;
  background-color: greenyellow;
}

.navbar-button2:hover{
  cursor: pointer;
  color: greenyellow;
}

.Upper-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: lightgray;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.image-container {
  margin-right: 50px;
  border: 1px solid lightgrey;
  border-radius: 20px;
  
}

.text-container {
  text-align: left;
}

.h1 {
  font-family: Arial;
  font-weight: bolder;
  font-size: 80px;
}

.h3 {
  color: rgba(51, 51, 51, 0.61);
  font-family: Times New Roman;
  font-weight: lighter;
}

.submit1 {
  width: 400px;
  height: 48px;
  border-radius: 8px;
  margin-right: 40px;
  padding-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px #ccc solid;
  padding-top: 8px;
}

.body-button1 {
  width: 180px;
  height: 48px;
  border-radius: 8px;
  margin-right: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #285fca;
  color: white;
  font-size: x-large;
  border: 1px #ccc solid;
}

.body-button1:hover{
  cursor: pointer;
  background-color: rgb(53, 153, 46);
}

.img2 {
  width: 1519px;
  margin-bottom: 0px;

}

.middle-body{
  text-align: center;
}

.h2{
  padding-top: 42px;
  font-family: Arial;
  font-weight: bolder;
  font-size: 40px;
  color: #5076c4;
}

.ImageContainer2{
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.ImageContainer2 img {
  margin: 24px;
  height: 100px;
  width: 200px;
}

.h2id2{
  padding-top: 42px;
  font-family: Lucida Handwriting;
  font-weight: bolder;
  font-size: 40px;
  color: black;
}



.card-container1 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 40px;

}

.card1,
.card2,
.card3 {
  flex-basis: calc(33% - 12px);
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 32px 0px;
  margin-bottom: 20px;
  margin-left: 8px;
  margin-right: 8px;
 
}

.text-container2 {
  text-align: center;

}


.card1 img,
.card2 img,
.card3 img {
  width: 120px;
  height: auto;
  border-radius: 14px;
  margin-bottom: 20px;
}

.card1 h2,
.card2 h2,
.card3 h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card1 p,
.card2 p,
.card3 p {
  color: rgba(51, 51, 51, 0.61);
  font-family: Times New Roman;
  font-weight: lighter;
  margin-bottom: 10px;
}

.card1 h4,
.card2 h4,
.card3 h4 {
  font-family: Avertastd,sans-serif;
  font-size: 16px;
  margin-bottom: 10px;
  
}

.card1 h1,
.card2 h1,
.card3 h1 {
  color: green;
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card1 h3,
.card2 h3,
.card3 h3 {
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: bold;
}

.products {
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left;
  margin-left: 2px;
}

.product-used {
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 5px 10px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightblue;
  border-radius: 12px;
  text-decoration: none;
  color: #000;
}

.product-used:hover {
  cursor: pointer;
  background-color: rgb(56, 155, 38);
  color: white
}


.card-container2 {
  display: flex;
  justify-content: center;
}

.card4,.card5,.card6 {
  width: 400px;
  border: 1px solid rgb(214, 205, 205);
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px;
}



.card-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  font-size: xx-large;
  text-align: left;
  margin-left: 24px;
  margin-top: 20px;
  color: #285fca;
  font-family: 'Times New Roman', Times, serif;
}

.card-text {
  color: #777;
  font-size: larger;
  text-align: left;
  margin-left: 24px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.list-group-item {
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.list-group-item img {
  margin-right: 0.5rem;
  height: 48px;
  padding-right:8px ;

}

.list-group-item img{
  cursor: pointer;
  
}

.h3_2{
  font-size: x-large;
  font-weight: bolder;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}

.h3_2:hover{
  color: rgb(39, 127, 177);
  cursor: pointer;
  
}

.h5_2{
  font-size: smaller;
  font-family: Arial, Helvetica, sans-serif;
  color: #777

}

.list-group-item{
  margin-bottom: 40px;
}


.h1_2{
  padding: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 48px;
}


.lower-body {
  background-color: #f9f9f9;
  padding: 50px;
  justify-content: center;
  align-items: center;
}

.content {
  padding-bottom:120px ;
  display: flex;
  gap: 320px;
}

.text-container3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.get-started-button {
  margin-top: 20px;
}

.image-container2 {
  display: flex;
  justify-content: flex-end;
}

.img1 {
  width: 420px;
  height: auto;
  border-radius: 20px;
}

.body-button1 {
  padding: 8px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.Review2 {
  display: flex;
  gap: 180px;
}

.Review2 .text-container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.Review2 .image-container2 {
  display: flex;
  justify-content: flex-start;
}

.Review2 .img1 {
  width: 500px;
  height: auto;
}

.Review2 .body-button1 {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.content2{
  padding: 80px;
  text-align: center;
  background-color: #272525;
  
}

.h1_3{
  color: white;
  font-size: 48px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}

.h3_3{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;
  font-size: larger;
  font-weight: lighter;
  
}

.submit2 {
  width: 400px;
  height: 48px;
  border-radius: 8px;
  margin-right: 40px;
  padding-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px #ccc solid;
  padding-top: 8px;
}

.body-button2 {
  width: 180px;
  height: 48px;
  border-radius: 8px;
  margin-right: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: x-large;
  border: 1px #1a1313 solid;
  background-color: #285fca;
}

.body-button2:hover{
  cursor: pointer;
  background-color: rgb(53, 153, 46);
}

.imagesection1 {
  display: flex;
  align-items: center;
  padding-left: 480px;
  margin-top: 20px;
  
}

.img3 {
  
  width: 220px;
  margin-right: 12px; 
}

.p1 {
  color: white;
  padding-top: 12px;
}

.imagesection2{
  padding: 12px;
  margin-left: 420px;
  display: flex;

  gap: 20px;
  
}

.img4{
  height: 28px;
  width: 80px;
  margin-top: 2px;
}

.img5{
  width: 120px;
}

.img6{
  width: 180px;
}

.footer {
  display: flex;
  background-color: black;
  color: white;
  padding: 80px;
}

.footer-logo-section {
  flex-basis: 30%;
}

.footerlogo {
  padding-right: 20px;
  cursor: pointer;
  width: 60%
}

.section-title {
  margin-top: 0;
}

.section-content {
  list-style-type: none;
  padding: 0;
}

.footer-section {
  flex-grow: 1;
  margin-right: 30px;
  text-align: left;
  
}

.section-content li {
  margin-bottom: 8px;
  
}

.section-content li:hover {
  color: #53c549;
  cursor: pointer;
  
}

.section-title{
  font-size: smaller;
  font-family: Arial, Helvetica, sans-serif;
  color: gray;
  font-weight: bold;

}

@media (max-width: 768px) {
  .footer {
    flex-wrap: wrap;
  }

  .footer-section {
    flex-basis: 50%;
    margin-bottom: 30px;
  }

  .footer-section:last-child {
    margin-bottom: 0;
  }
}


























